<div class="div h-screen w-64 p-3 shadow-lg">
    <div class="profile flex items-center">
        <img alt="p" src="../../../assets/profile.png" class="rounded-3xl  w-12 h-12 ">
        <div class="profile-con  flex flex-col p-2 ml-2">
            <p class="text-sm font-bold"> John Quinn </p>
            <p class="text-xs">Sr.UI/UX Designer </p>
        </div>
        <mat-icon class="icon" style="margin-left: 20px;"  >notifications_active</mat-icon>
    </div>
    <hr class="mb-2">
    <div class="leave m-auto w-60">
        <div class="flex justify-evenly">
            <p class="font-medium">Leave Tracker</p>
            <button class="text-xs w-16 h-5 items-center text-white rounded-lg shadow-xl"
                style="background-color: #02c875;">
                Apply
            </button>
        </div>
        <div class="leave flex flex-col w-full">
            <div class="leav flex justify-between p-1 h-14 mb-1 rounded-md items-center " style="background-color: #f9f9f9;">
                <img alt="le" src="../../../assets/cl.png" class="w-7 rounded-sm">
                <p class="text-black text-sm text-start w-24">Casual Leave</p>
                <div class="rem flex flex-col text-xs  text-end text-slate-600">
                    <p>Available : 2</p>
                    <p>Booked : 4</p>
                </div>
            </div>
            <div class="leav1 flex justify-between p-1 h-14 mb-1 rounded-md items-center " style="background-color: #f9f9f9;">
                <img alt="le" src="../../../assets/compen.png" class="w-7 rounded-sm">
                <p class="text-black text-sm text-start w-24">Compensatory</p>
                <div class="rem flex flex-col text-xs  text-end text-slate-600">
                    <p>Available : 0</p>
                    <p>Booked : 1</p>
                </div>
            </div>
            <div class="leav1 flex justify-between p-1 h-14 mb-1 rounded-md items-center " style="background-color: #f9f9f9;">
                <img alt="le" src="../../../assets/Lwp.png" class="w-7 rounded-sm">
                <p class="text-black text-sm text-start w-24">LWP</p>
                <div class="rem flex flex-col text-xs  text-end text-slate-600">
                    <p>Available : 0</p>
                    <p>Booked : 5</p>
                </div>
            </div>
            <div class="leav1 flex justify-between p-1 h-14 mb-1 rounded-md items-center " style="background-color: #f9f9f9;">
                <img alt="le" src="../../../assets/sick.png" class="w-7 rounded-sm">
                <p class="text-black text-sm text-start w-24">Sick Leave</p>
                <div class="rem flex flex-col text-xs  text-end text-slate-600">
                    <p>Available : 2</p>
                    <p>Booked : 5</p>
                </div>
            </div>
            <div class="leav1 flex justify-between p-1 h-14 rounded-md items-center " style="background-color: #f9f9f9;">
                <img alt="le" src="../../../assets/wfh.png" class="w-7 rounded-sm">
                <p class="text-black text-sm text-start w-24">WFH</p>
                <div class="rem flex flex-col text-xs  text-end text-slate-600">
                    <p>Available : 2</p>
                    <p>Booked : 5</p>
                </div>
            </div>
        </div>
    </div>
    <div class="holidays mt-1 rounded-md p-2 h-50" style="background-color: #e2e2e2;">
        <p class="font-medium text-sm justify-center flex">Upcoming Holidays</p>
        <div class="holiday-list mt-4 flex-col h-40 rounded-sm overflow-y-scroll overflow-hidden"
            style="background-color: #f9f9f9;">
            <div class="h1 flex justify-between p-1 items-center ">
                <p class="text-sm">Holi</p>
                <div class="co text-xs text-end">
                    <p class="text-xs font-medium">25 Mar</p>
                    <p class="text-xs text-slate-500">Monday</p>
                </div>
            </div>
            <div class="h1 flex justify-between p-1 items-center">
                <p class="text-sm">Independence Day</p>
                <div class="co text-xs text-end">
                    <p class="text-xs font-medium">15 Aug</p>
                    <p class="text-xs text-slate-500">Thursday</p>
                </div>
            </div>
            <div class="h1 flex justify-between p-1 items-center">
                <p class="text-sm">Raksha Bandhan</p>
                <div class="co text-xs text-end">
                    <p class="text-xs font-medium">19-Aug</p>
                    <p class="text-xs text-slate-500">Monday</p>
                </div>
            </div>
            <div class="h1 flex justify-between p-1 items-center">
                <p class="text-sm">Gandhi Jayanti</p>
                <div class="co text-xs text-end">
                    <p class="text-xs font-medium">02-Oct</p>
                    <p class="text-xs text-slate-500">Wednesday</p>
                </div>
            </div>
            <div class="h1 flex justify-between p-1 items-center">
                <p class="text-sm">Diwali</p>
                <div class="co text-xs text-end">
                    <p class="text-xs font-medium">01 - Nov</p>
                    <p class="text-xs text-slate-500">Friday</p>
                </div>
            </div>
        </div>
    </div>
</div>